<h2 align="center"><b>Edit Profile</b></h2>


<%=render 'shared/errors', obj: @current_user%>

<div class="row">
  <div class="col-xs-12">
  <%= form_for(:current_user, url: sessions_path, method: 'patch',:html => {class: "form-horizontal", role: "form"}) do |f| %>
        
       <%=render "shared/form" %>
      
      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit "Update", class: "btn btn-primary btn-md" %>
         </div>
      </div>
   <% end %>
 </div>
</div>
  
<h4 align="center"><%=link_to "Go Back", sessions_path%> </h4>