<center>
<h2><b>Edit Profile</b></h2>
</center>

<%=render 'shared/errors', obj: @current_user%>

<center>

  <%= form_for :current_user, url: sessions_path, method: 'patch' do |f| %>
        
        <p>
          <%= f.label :profile_image%>
        </p>

        <p>
          <%=f.file_field :profile_image%> </br>
        </p>
        
        <p> 
          Name: <%= f.text_field :name %> </br> 
        </p>

        <p>
          Email: <%= f.text_field :email %> </br>
        </p>   
        
        <p>
            Role: <%= f.select(:role, [["Contractor","Contractor"],["Tasker","Tasker"]]) %>
        </p>

        <p>
          Phone: <%= f.text_field :phone %>
        </p>

        <p>
          Address: <%= f.text_field :address %>
        </p>
        
        <p>
          <%= f.submit "Update" %>
        </p>

  <% end %>

  <h4><%=link_to "Go Back", sessions_path%> </h4>
</center>  