<center>
    <h4 style="color: green">
      <%= "Hi! #{current_user.name}, its your details.. "%>
    </h4>

   <%=render 'shared/image', obj: current_user %>
     
    <% if current_user.admin? %>
      <h2 style="color: green">
        <b>Admin</b>
      </h2>
    <% end %> 

    <h4>
      <strong>Email:</strong>
      <%= current_user.email %>
    </h4>

    <h4>
      <strong>Name:</strong>
      <%= current_user.name %>
    </h4>

    <h4>
      <strong>Role:</strong>
      <%= current_user.role %>
    </h4>

    <h4>
      <strong>Address:</strong>
      <i><%= current_user.address %></i>
    </h4>
      
    <h4>
      <strong>Contact no:</strong>
      <%= current_user.phone %>
    </h4>

    <h3>
        <%=link_to 'Edit Profile', edit_user_registration_path %> | <%=link_to 'Go Home', tasks_path%>
    </h3>
    
</center>

<h2 align="center">
  <b>Your Tasks... </b>
</h2>

<%= render 'shared/pagination', obj: @current_user_tasks %>

<%= render 'tasks/task', obj: @current_user_tasks %>

<%= render 'shared/pagination', obj: @current_user_tasks %>
