<center>
    <h4 style="color: green">
      <%=p "Hi! #{current_user.name}, its your details.. "%>
    </h4>

   <%=render 'shared/image', obj: current_user %>

    <p>
      <strong>Email:</strong>
      <%= current_user.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= current_user.name %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= current_user.role %>
    </p>

    <p>
      <strong>Address:</strong>
      <i><%= current_user.address %></i>
    </p>
      
    <p>
      <strong>Contact no:</strong>
      <%= current_user.phone %>
    </p>

    <h4>
        <%=link_to 'Edit Profile', edit_user_registration_path %> | <%=link_to 'Go Home', tasks_path%>
    </h4>
    
</center>

<h2 style="background-color: #FFE4E1">
  Your Tasks...
</h2>

<div class="center">
  <%= will_paginate @current_user_tasks %>
</div>  

<%= render 'tasks/task', obj: @current_user_tasks %>

<div class="center">
  <%= will_paginate @current_user_tasks %>
</div>
