<div class='container'>
   <% obj.each do |task| %>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="well well-lg">
            <div class="task-title">
               <%=link_to task.title,task %>
            </div>

            <div class="task-body">
              <b> Location :<%= task.location %> </b></br>
              <b> Company :<%= task.company_name %> </b>
              </hr>
              <h5> 
                <%= task.description.truncate(100) %>
              </h5>
              <h4 style="color: #006666">
                Category :<%=task.category.name%>
              </h4>
            </div>
           </div>
         </div>
       </div>
   <% end %>
</div>

