<p>
  <center>
      <% if current_user %>
        <h5>
          Signed in as: <b><%= current_user.name %></b> | <%= link_to "Logout", logout_sessions_path, method: 'delete' %> 
        </h5>
      <% else %>
         <%= link_to 'Login', new_session_path %> | <%= link_to 'Signup', signup_path %>
      <% end %>
  </center>
</p>

<h3>
  <center>
    <%=link_to "Profile", sessions_path%>
  </center>
</h3>  

<h4>      
    <b>Categories :</b> 
    <% Category.all.each do |category| %>
      <%= link_to "#{category.name}", tasks_path(category: category.name), class: 'btn btn-primary btn-lg' %>
    <% end %>
</h4>

<p></p>

<h3>
	<center>
		<%= link_to '~ Add new Task ~',new_task_path %>                   

	</center>
</h3>

<%count = 1%>

 <% @tasks.each do |task| %>
    
    <h2>
    	<%= "#{count}." %> <%=link_to task.title,task %>
    </h2>

    <p>
        <b> Location :<%= task.location %> </b>
    </p>
    
    <p>    
    	 <b> Company :<%= task.company_name %> </b>
    </p>

    <h5> 
    	<%= task.description.truncate(50) %>
    </h5>

    <h4 style="color: #006666">
    	Category :<%=task.category.name%>
    </h4>

    <% count += 1 %>
    <p>
      </br>
    </p>

 <% end %>

 
