
<%=link_to "Profile #{current_user.tasks.count}", sessions_path(@current_user), class: "btn btn-success btn-lg"%> 

<h4>      
    <b>Categories :</b> 
    <% Category.all.each do |category| %>
      <%= link_to "#{category.name}", tasks_path(category: category.name), class: 'btn btn-primary btn-md' %>
    <% end %>
</h4>

<%= render 'shared/pagination', obj: nil %>

<%= render 'task', obj: @tasks %>

<%= render 'shared/pagination', obj: nil %>
 
