<p>
  <center>
      <% if current_user %>
        <h4>
          Signed in as: <b><%= current_user.name %></b> | <%= link_to "Logout", logout_sessions_path, method: 'delete' %> 
        </h4>
      <% else %>
         <%= link_to 'Login', new_session_path %> | <%= link_to 'Signup', signup_path %>
      <% end %>
  </center>
</p>


<%=link_to "Profile #{current_user.tasks.count}", sessions_path, class: "btn btn-success btn-md"%> 

<h4>      
    <b>Categories :</b> 
    <% Category.all.each do |category| %>
      <%= link_to "#{category.name}", tasks_path(category: category.name), class: 'btn btn-primary btn-md' %>
    <% end %>
</h4>

<p></p>

<h3>
	<center>
		<%= link_to '~ Add new Task ~',new_task_path %>
	</center>
</h3>

<div align='center'>
  <%= will_paginate %>
</div>

<%= render 'task', obj: @tasks %>

<div align='center'>
  <%= will_paginate %>
</div>
 
