<center>
  <h4 style="color: green">Created by : <%=@task.user.name%></h4>
</center>  

<%= render 'shared/image', obj: @task.user %>



<h3 style="background-color: #F5F5DC"> 
	<center> <b>
		<%= @task.title %> </b>
	</center>
</h3>

<p>
    <b>Posted at:</b> <%= time_ago_in_words(@task.created_at) %> ago 
</p>

<p>
    <b>Last updated: </b><%= time_ago_in_words(@task.updated_at) %> ago 
</p>

<p>
   <b> Estimated Date:</b> <%= @task.estimated_date.strftime("%b %d. %Y") %>
</p>

<p> <%= @task.description %> </p>

<%if @task.user == current_user || current_user.admin?%> 
    <p style="font-size:20px;">
      <%= link_to 'Edit task', edit_task_path(@task) %> | 
      <%= link_to 'Delete task', @task, method: :delete,
                                data: {confirm: "Are you sure?"} %>
    </p>
<%else%>
  <% if current_user.role == "Tasker" && @task.user.id != current_user.id %>
     <h4>
      <center> 
        <%= link_to "Complete Task", user_path, class: 'btn btn-primary btn-lg'%> 
      </center> 
    </h4>
  <%end%>
<%end%>

<h6> <b>Company  :<%= @task.company_name%> </b></h6>

<p style="color: brown">
  Category: <%= @task.category.name %>
</p>

<h4>
  <center>  <%= link_to 'Go-home', tasks_path %>  </center>
</h4>

<h2 style="background-color: #FFE4E1">
  <%="#{@task.user.name}'s Tasks...."%>
</h2>

<div class="center">
  <%= will_paginate @user_tasks %>
</div>  

<%= render 'task', obj: @user_tasks %>

<div class="center">
  <%= will_paginate @user_tasks%>
</div> 