<h3 style="background-color: #F5F5DC"> 
	<center> <b>
		<%= @task.title %> </b>
	</center>
</h3>

<p>
    Posted at: <%= @task.created_at.strftime("%b %d. %Y")%>
</p>

<p>
    Estimated Date: <%= @task.estimated_date.strftime("%b %d. %Y") %>
</p>

<p> <%= @task.description %> </p>

<%if @task.user.id == current_user.id%> 
<pre style="font-size:20px;"><%= link_to 'Edit task', edit_task_path(@task) %>  <%= link_to 'Delete task', @task, method: :delete, confirm: "Are you sure?" %>
</pre>
<%else%>
  <% if current_user.role == "Tasker" && @task.user.id != current_user.id %>
     <h4> <center> <%= link_to "Complete Task", user_path%> </center>
  <%end%>
<%end%>

<h6> <b>Company  :<%= @task.company_name%> </b></h6>

<p style="color: brown">
  Category: <%= @task.category.name %>
</p>

<h4>
  <center>  <%= link_to 'Go-home', tasks_path %>  </center>
</h4> 
