<center>
  <h4 style="color: green">Created by : <%=@task.user.name%></h4>
</center>  

<%= render 'shared/image', obj: @task.user %>

<h3 style="background-color: #F5F5DC"> 
	<center> 
    <b> <%= @task.title %> </b>
	</center>
</h3>

<div class="well col-xs-10 col-xs-offset-1">

  <b>Posted at:</b> <%= time_ago_in_words(@task.created_at) %> ago </br>
  <b>Last updated: </b><%= time_ago_in_words(@task.updated_at) %> ago </br>
  <b> Estimated Date:</b> <%= @task.estimated_date.strftime("%b %d. %Y") %> </br>
  
  <h4 class="center description"><strong>Description:</strong></h4>

  <hr>

  <%= simple_format(@task.description) %>
  
  <div class="task-actions" align="center">
    <%if @task.user == current_user %> 
      <%= link_to 'Edit task', edit_task_path(@task), class: "btn btn-md btn-primary" %>
      <%= link_to 'Delete task', @task, method: :delete,
                              data: { confirm: "Are you sure you want to delete the article?"},
                              class: "btn btn-md btn-danger" %>

    <%else%>
       <% if current_user.role == "Tasker" && @task.user.id != current_user.id %>
        <h4 align="center">
             <%= link_to "Complete Task", user_path, class: 'btn  btn-primary btn-lg'%>  
        </h4>
       <%end%>
    <%end%>
 </div>

 <h6> <b>Company  :<%= @task.company_name%> </b></h6>

  <p style="color: brown">
    Category: <%= @task.category.name %>
  </p>

  <h4 align="center">
    <%= link_to 'Go-home', tasks_path %>
  </h4>
 <h2 align="center">
        <%= "#{@task.user.name}'s Tasks...." %>
 </h2>
</div>

<%= render 'shared/pagination', obj: @user_tasks %>
<%= render 'task', obj: @user_tasks %>
<%= render 'shared/pagination', obj: @user_tasks %>



 
