<h3 style="background-color: #F5F5DC"> 
	<center> <b>
		<%= @task.title %> </b>
	</center>
</h3>

<p>
    <b>Posted at: <%= @task.created_at.strftime("%b %d. %Y")%> </b>
</p>

<p>
   <b> Estimated Date: <%= @task.estimated_date.strftime("%b %d. %Y") %></b>
</p>

<p> <%= @task.description %> </p>

<%if @task.user.id == current_user.id%> 
  <pre style="font-size:20px;"><%= link_to 'Edit task', edit_task_path(@task) %>  <%= link_to 'Delete task', @task, method: :delete, data: {confirm: "Are you sure?"} %>
  </pre>
<%else%>
  <% if current_user.role == "Tasker" && @task.user.id != current_user.id %>
     <h4> <center> <%= link_to "Complete Task", user_path, class: 'btn btn-primary btn-lg'%> </center>
  <%end%>
<%end%>

<h6> <b>Company  :<%= @task.company_name%> </b></h6>

<p style="color: brown">
  Category: <%= @task.category.name %>
</p>

<h4>
  <center>  <%= link_to 'Go-home', tasks_path %>  </center>
</h4>

<h2 style="background-color: #FFE4E1">
  <%="#{@task.user.name}'s Tasks...."%>
</h2>  

<%count = 1%>

 <% @task.user.tasks.each do |task| %>
    
    <h2>
      <%= "#{count}." %> <%=link_to task.title,task %>
    </h2>

    <p>
        <b> Location :<%= task.location %> </b>
    </p>
    
    <p>    
       <b> Company :<%= task.company_name %> </b>
    </p>

    <h5> 
      <%= task.description.truncate(50) %>
    </h5>

    <h4 style="color: #006666">
      Category :<%=task.category.name%>
    </h4>

    <% count += 1 %>
    <p>
      </br>
    </p>

 <% end %>
