
<% if @user.errors.any? %>
 <h3>Following errors prevented for user getting created..</h3>
 <ul>
  <% @user.errors.full_messages.each do |msg|%>
    <li style="color: red"><%= msg %></li>
  <%end%>
 </ul>
<%end%>

<h1>Signup!</h1>

<%= form_for :user, url: users_path do |f| %>

  <h3> 
  	Name: <%= f.text_field :name %> </br> 
  </h3>

  <h3>
  	Email: <%= f.text_field :email %> </br>
  </h3>	
  
  <h3>
  	Password: <%= f.password_field :password_digest %> </br>
  </h3>

  <h3>
    Role: <%= f.text_field :role %>
  </h3>

  <h3>
    Phone: <%= f.text_field :phone %>
  </h3>

  <h3>
    Address: <%= f.text_field :address %>
  </h3>
  
  <h3>
    <%= f.submit "Submit" %>
  </h3>

  <center>
    <h3> <%= link_to 'Login', new_sessions_path %> </h3>
  </center>

<% end %>