<h1>Add New category</h1>
<%= form_with model: @category do |f|%>
  <h3>
    <%= f.label :name %> <br />
  	<%= f.text_field :category, size: "10x8" %> <br />	 
  </h3>

 
  <h3>
    <%= f.submit "Create" %>  
  </h3>

<% end %> <h2> <center><%= link_to "Go home", categories_path %></center> </h2>

