<nav class="navbar navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <%=link_to 'TaskRabbit', tasks_path, class: "navbar-brand", id: 'logo' %>
    </div>

    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
       <li style="font-size: 17px"><%= link_to '~ Add new Task ~',new_task_path %></li>
        <li style="font-size: 17px"><%= link_to 'Users', users_path%></li>
     <%end%>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li style="font-size: 17px"><a><span class="glyphicon glyphicon-user"></span>  Signed in as :
        <%if current_user.main_admin?%>
          [Main Admin]
        <%elsif current_user.admin?%>
          [Admin]
        <%end%>  
          <%=current_user.name%></a></li> 
        <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
      <%end%>
    </ul>
    
  </div>
</nav>

<center>
  <h4 style="background-color: #F0F8FF">
    Help around the home, at your fingertips.....
  </h4>
</center>