<!DOCTYPE html>
<html>
  <head>
    <title>TaskRabbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <center>
      <h1 style="background-color: powderblue">
        TaskRabbit
      </h1> 
    </center> 

    <center>
      <h3 style="background-color: #FFE4E1">
        Help around the home, at your fingertips.....
      </h3>
    </center>

    <pre><center>
      <% if current_user %>
         Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
      <% else %>
         <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
      <% end %> </br> </center> </pre>  

    <%= yield %>

  </body>
</html>
